
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="swiper.min.css">

	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/welcome.css">
	<title>DIGITAL NATURALIST </title>
</head>
<body>

	<section class = "hero">
		<header>
			<!---------------------------------------Logo----------------------------------------------------->
			<h1><a href="welcome.html" > DIGITAL NATURALIST </a></h1>

			<!----------------------------------------Login Section-------------------------------------------->
			<section id="login">
		          <a href="index" id="signup">Upload image</a>
			</section>
		</header>

		<div class = "hero-text">
	<h2>Find the species</h2>
			<p>When venturing into the woods, field naturalists usually rely on common approaches like always carrying a guidebook around everywhere or seeking help from experienced ornithologists. There should be a handy tool for them to capture, identify and share the beauty to the outside world.

Field naturalists can use this web app from anywhere to identify the birds, flowers, mammals and other species they see on their hikes, canoe trips and other excursions.</p>
        </div>

	</section>


    <!---------------------------------------------------------------------------------------------------
    ------------------------------------------Footer-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------->




<script type="text/javascript" src="swiper.min.js"></script>
     <script>
            var swiper = new Swiper('.swiper-container', {
              effect: 'coverflow',
              grabCursor: true,
              centeredSlides: true,
              slidesPerView: 'auto',
              coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows : true,
              },
              pagination: {
                el: '.swiper-pagination',
              },
            });
          </script>
<script src="main.js"></script>
<script src="js/main.js"></script>
    </body>
    <script type="text/javascript">
    $(".chosen").chosen();
    </script>

</body>
</html>